
p {
    background-color: azure;
}

#mypara {
    background-color: aquamarine;
}

.pone {
    background-color: yellow;
}

div :hover {
    font-size: 40px;
}

div {
    padding: 20px;
}

p ~ span {
    background-color: lightgrey;
}

p::first-letter {
    font-size: 30px;
}

[class*="div"] {
    height: 20px;
    margin-bottom: 20px;
    background-color: red;
}

div span {
    color: blue;
}

[type^="t"] {
    font-size: 40px;
}